<div class="form">
    <div class="container">
        <mat-card class="cardContainer">
            <mat-card-title class="cardTitle">
                <img src="../../assets/LogoCompleto.png" alt="pawplan" style="width: 50%;">
            </mat-card-title>
            <mat-card-content class="cardContent"> 
                <button mat-flat-button class="button" (click)="cuentaPaciente()">
                    <span style="margin-right: 15px;">Soy paciente</span>
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-flat-button class="button" (click)="cuentaVeterinario()">
                    <span style="margin-right: 15px;">Soy veterinario</span>
                    <mat-icon>medication</mat-icon>
                </button>
                <button mat-flat-button class="button" (click)="cuentaLocal()">
                    <span style="margin-right: 15px;">Registrar Local</span>
                    <mat-icon>home_health</mat-icon>
                </button>

            </mat-card-content>
        </mat-card>
    </div>
</div>

