@if (step == 1) {
    <form [formGroup]="formGroup" class="form">
        <div class="container">
            <mat-card class="cardContainer">
                <div class="titleContainer" style="gap: 10px;">
                    <button mat-icon-button (click)="volver()">
                      <mat-icon>arrow_back</mat-icon>
                    </button>
                    <mat-card-title>
                        Recuperar Contraseña
                    </mat-card-title>
                </div>
                <mat-card-title class="cardTitle">
                    <img src="../../assets/LogoCompleto.png" alt="pawplan" style="width: 50%;">
                </mat-card-title>
                <mat-card-content class="cardContent">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>DNI/CUIT</mat-label>
                        <input matInput formControlName="dniCuit" type="number" placeholder="Ingrese su DNI o CUIT si es una veterianria" />
                        <mat-error *ngIf="formGroup.get('dniCuit')?.hasError('required')">
                          El DNI/CUIT es requerido.
                        </mat-error>
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput formControlName="correo" placeholder="Ingrese su correo electrónico" type="email" />
                        <mat-error *ngIf="formGroup.get('correo')?.hasError('required')">
                          El correo es requerido.
                        </mat-error>
                        <mat-error *ngIf="formGroup.get('correo')?.hasError('email')">
                            El correo tiene un formato incorrecto.
                          </mat-error>
                    </mat-form-field>
                      
                    <button mat-flat-button class="button" (click)="obtenerPregunta()">
                        <span style="margin-right: 15px;">Recuperar</span>
                        <mat-icon>login</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
} @else if (step == 2){
    <form [formGroup]="formGroupRespuesta" class="form">
        <div class="container">
            <mat-card class="cardContainer">
                <div class="titleContainer" style="gap: 10px;">
                    <button mat-icon-button (click)="volver()">
                      <mat-icon>arrow_back</mat-icon>
                    </button>
                    <mat-card-title>
                        Recuperar Contraseña
                    </mat-card-title>
                </div>
                <mat-card-title class="cardTitle">
                    <img src="../../assets/LogoCompleto.png" alt="pawplan" style="width: 50%;">
                </mat-card-title>
                <mat-card-content class="cardContent">
                    <p>Responda su pregunta secreta: "{{preguntaSecreta}}"</p>
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Respuesta</mat-label>
                        <input matInput formControlName="respuesta" placeholder="Ingrese su respuesta secreta" />
                        <mat-error *ngIf="formGroupRespuesta.get('respuesta')?.hasError('required')">
                          La respuesta es requerida.
                        </mat-error>
                    </mat-form-field>
                      
                    <button mat-flat-button class="button" (click)="respuestaSecreta()">
                        <span style="margin-right: 15px;">Validar Respuesta</span>
                        <mat-icon>login</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
} @else if (step == 3) {
    <form [formGroup]="formGroupNewPassword" class="form">
        <div class="container">
            <mat-card class="cardContainer">
                <div class="titleContainer" style="gap: 10px;">
                    <button mat-icon-button (click)="volver()">
                      <mat-icon>arrow_back</mat-icon>
                    </button>
                    <mat-card-title>
                        Recuperar Contraseña
                    </mat-card-title>
                </div>
                <mat-card-title class="cardTitle">
                    <img src="../../assets/LogoCompleto.png" alt="pawplan" style="width: 50%;">
                </mat-card-title>
                <mat-card-content class="cardContent">
                    <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 80%;">
                        <input matInput placeholder="Nueva contraseña" formControlName="contrasenia" required type="password">
                        <mat-error *ngIf="formGroupNewPassword.get('contrasenia')?.hasError('minlength')">
                            La contraseña debe tener 6 caracteres como minimo
                        </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 80%;">
                        <input matInput placeholder="Repetir nueva contraseña" formControlName="validarContrasenia" required type="password">
                        <mat-error *ngIf="formGroupNewPassword.get('validarContrasenia')?.hasError('minlength')">
                            La contraseña debe tener 6 caracteres como minimo
                        </mat-error>
                        <mat-error *ngIf="formGroupNewPassword.get('validarContrasenia')?.hasError('passwordsMismatch')">
                            Las contraseñas no coinciden.
                        </mat-error>
                    </mat-form-field>
                      
                    <button mat-flat-button class="button" [disabled]="!validarContrasenias()" (click)="onConfirmar()">
                        <span style="margin-right: 15px;">Cambiar contraseña</span>
                        <mat-icon>login</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </form>
}