<div class="form">
    <div class="container">
        <mat-card style="width: 90%; height: fit-content; min-height: 200px;">
            <mat-card-title style="margin: 10px;"> Agregar profesional</mat-card-title>
            <mat-card-content>
                <form [formGroup]="form" style="display: flex; justify-content: center;">
                    <mat-form-field appearance="outline">
                      <mat-label>DNI</mat-label>
                      <input matInput placeholder="Ingresá el DNI" formControlName="dni">
                      <button mat-icon-button matSuffix (click)="buscarDatos()" aria-label="Buscar DNI">
                        <mat-icon>search</mat-icon>
                      </button>
                    </mat-form-field>
                </form>
                @if(usuario){
                    <div>
                        <u>{{usuario.nombre}} {{usuario.apellido}}</u>
                    </div>
                    <div>
                        Matricula: {{usuario.matricula}}
                    </div>
                    <div>
                        Correo: {{usuario.correo}}
                    </div>
                    <div>
                        Telefono: {{usuario.telefono}}
                    </div>
                }
            </mat-card-content>
            @if(usuario){
                <mat-card-actions style="display: flex; justify-content: end;">
                    <button mat-raised-button style="margin-right: 10px;" (click)="close()">Cancelar</button>
                    <button mat-flat-button (click)="agregar()">Agregar</button>
                </mat-card-actions>
            }   
        </mat-card>
    </div>
</div>
