<div class="form">
    <div class="container">
        <mat-card style="width: 90%; height: fit-content;">
            <div class="titleContainer">
                <button mat-icon-button (click)="volver()" color="primary" style="background-color: lightblue;">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <mat-card-title class="title">
                    CREAR CUENTA
                </mat-card-title>
            </div>
            <mat-card-content>
                <mat-horizontal-stepper [linear]="false" #stepper [animationDuration]="animationDuration">
                    <mat-step [stepControl]="datosLocal">
                        <form [formGroup]="datosLocal">
                            <ng-template matStepLabel>Datos del Local</ng-template>
                            <div style="margin-top: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 80%;">
                                    <input matInput placeholder="Razon Social" formControlName="razonSocial" required>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 80%;">
                                    <input matInput placeholder="CUIT" formControlName="cuit" required>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 80%;">
                                    <input matInput placeholder="Correo Electronico" formControlName="correo" required>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 80%;">
                                    <input matInput placeholder="Teléfono" formControlName="telefono" required>
                                </mat-form-field>
                                <div style="display: flex; flex-direction: row; align-self: flex-end;">
                                    <button mat-button matStepperNext>Siguiente</button>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                    
                    <mat-step [stepControl]="ubicacion">
                        <form [formGroup]="ubicacion">
                            <ng-template matStepLabel>Domicilio</ng-template>
                            <div style="margin-top: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 80%;">
                                    <mat-label>Ciudad</mat-label>
                                    <mat-select formControlName="ciudad" required>
                                        <mat-option value="mJuarez">Marcos Juarez</mat-option>
                                        <mat-option value="vMaria">Villa Maria</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 80%;">
                                    <input matInput placeholder="Calle" formControlName="calle" required>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 80%;">
                                    <input matInput placeholder="Número" formControlName="numero" required>
                                </mat-form-field>
                            </div>
                            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                <button mat-button matStepperPrevious>Anterior</button>
                                <button mat-button matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="horarioTrabajo">
                        <form [formGroup]="horarioTrabajo">
                            <ng-template matStepLabel>Horaios de Trabajo</ng-template>
                            <div style="margin-top: 15px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <section class="example-section">
                                    <span class="example-list-section">
                                      <ul style="display: flex; flex-direction: row;">
                                        @for (dia of semana().dias; track dia; let i = $index) {
                                            <span>
                                                <mat-checkbox [checked]="dia.seleccionado">
                                                  {{dia.nombre}}
                                                </mat-checkbox>
                                            </span>
                                        }
                                      </ul>
                                    </span>
                                </section>
                                <div style="display: flex; justify-content: flex-start; align-items: baseline; margin-bottom: 21px; width: 80%;">
                                    <mat-label>¿Hace horario corrido?</mat-label>
                                    <mat-radio-group formControlName="corrido" style="margin-left: 20px;">
                                        <mat-radio-button value="si">Si</mat-radio-button>
                                        <mat-radio-button value="no">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <!-- agregar validacion para la opcion seleccionada -->
                                <!-- Corregir las condiciones para que se activen al seleccionar si -->
                                
                                <!-- Horario de corrido -->
                                <mat-card *ngIf="horarioTrabajo.value.corrido == 'si'" style="width: 80%;">
                                    <mat-card-title style="margin: 15px;">Horario de corrido:</mat-card-title>
                                    <div style="display: flex; align-items: center; justify-content: space-around;">
                                        <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 45%;">
                                            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-around;">
                                                <span>Horario Apertura:</span>
                                                <div>
                                                    <input matInput [ngxTimepicker]="picker" placeholder="Ej: 8:00 AM" formControlName="horarioApertura">
                                                    <ngx-material-timepicker #picker></ngx-material-timepicker>
                                                </div>
                                            </div>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 45%;">
                                            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-around;">
                                                <span>Horario Cierre:</span>
                                                <div>
                                                    <input matInput [ngxTimepicker]="picker2" placeholder="Ej: 5:00 PM" formControlName="horarioCierre">
                                                    <ngx-material-timepicker #picker2></ngx-material-timepicker>
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </mat-card>

                                <!-- Horario cortado -->
                                <mat-card *ngIf="horarioTrabajo.value.corrido == 'no'" style="width: 80%;">
                                    <mat-card-title style="margin: 15px;">Turno Mañana:</mat-card-title>
                                    <div style="display: flex; align-items: center; justify-content: space-around;">
                                        <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 45%;">
                                            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-around;">
                                                <span>Hora Inicio:</span>
                                                <div>
                                                    <input matInput [ngxTimepicker]="picker3" placeholder="Ej: 8:00 AM" formControlName="mañanaInicio">
                                                    <ngx-material-timepicker #picker3></ngx-material-timepicker>
                                                </div>
                                            </div>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 45%;">
                                            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-around;">
                                                <span>Hora Fin:</span>
                                                <div>
                                                    <input matInput [ngxTimepicker]="picker4" placeholder="Ej: 12:00 AM" formControlName="mañanaFin">
                                                    <ngx-material-timepicker #picker4></ngx-material-timepicker>
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <mat-card-title style="margin: 15px;">Turno Tarde:</mat-card-title>
                                    <div style="display: flex; align-items: center; justify-content: space-around;">
                                        <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 45%;">
                                            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-around;">
                                                <span>Hora Inicio:</span>
                                                <div>
                                                    <input matInput [ngxTimepicker]="picker5" placeholder="Ej: 4:00 PM" formControlName="tardeInicio">
                                                    <ngx-material-timepicker #picker5></ngx-material-timepicker>
                                                </div>
                                            </div>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" style="margin-bottom: 5px; width: 45%;">
                                            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-around;">
                                                <span>Hora Fin:</span>
                                                <div>
                                                    <input matInput [ngxTimepicker]="picker6" placeholder="Ej: 8:00 PM" formControlName="tardeInicio">
                                                    <ngx-material-timepicker #picker6></ngx-material-timepicker>
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </mat-card>
                            </div>

                            <div style="display: flex; flex-direction: row; justify-content: flex-end; margin-bottom: 10px; margin-right: 10%;">
                                <button mat-button (click)="agregarHorario()">Agregar</button>
                            </div>
  
                            <mat-chip-set style="margin-bottom: 10px;">
                                @for (item of horarios; track $index) {
                                    <mat-chip-row (removed)="quitarHorario(item)">
                                        {{item.horaInicio}} - {{item.horaFin}}
                                        <button matChipRemove>
                                        <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip-row>
                                }
                            </mat-chip-set>
  
                            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                <button mat-button matStepperPrevious>Anterior</button>
                                <button mat-button disabled="{{horarios == undefined || horarios.length == 0}}" (click)="onConfirmar()">Confirmar</button>
                            </div>
                        </form>
                    </mat-step>
                </mat-horizontal-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>
