<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 15px;">
  <mat-form-field appearance="outline" style="width: 60%; margin-top: 15px;">
    <mat-label>Selecciona una Ciudad</mat-label>
    <mat-select (selectionChange)="onCiudadSelected($event.value)">
      @for (item of ciudades; track $index) {
        <mat-option [value]="item.ciudad.id">
          {{item.ciudad.nombre}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (mostrarContactos) {
    @if (contactos.length > 0) {
      <mat-accordion style="width: 60%;">
        @for (vete of contactos; track $index) {
          <mat-expansion-panel class="alert-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="alert-icon">notification_important</mat-icon>
                {{vete.nombre}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Tel: <b>{{vete.telefono}}</b></p>
            @if (vete.domicilio) {
              <p>Domicilio: <b>{{vete.domicilio}}</b></p>
            }
          </mat-expansion-panel>
        }
      </mat-accordion>
    } @else {
      <span>No hay veterinarias con guardias en tu ciudad</span>
    }
  }
</div>