<div class="form">
    <div class="container">
        <mat-card class="cardContainer">
            <mat-card-title class="cardTitle">
                <img src="../../assets/LogoCompleto.png" alt="pawplan" style="width: 50%;">
            </mat-card-title>
            <mat-card-content class="cardContent">
                @for (turno of turnos; track $index) {
                    <mat-accordion style="width: 90%;">
                        <mat-expansion-panel hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title> {{turno.fechaHoraReserva}} </mat-panel-title>
                            <!-- <mat-panel-description> This is a summary of the content </mat-panel-description> -->
                          </mat-expansion-panel-header>
                          <p>
                            Mascota: {{turno.detalleTurno[0].animal.nombre}} <br>
                            Animal: {{turno.detalleTurno[0].animal.raza.nombre}} <br>
                            Tipo Consulta: {{turno.detalleTurno[0].tipoConsulta.nombre}} <br>
                            Cliente: {{turno.cliente.nombre + turno.cliente.apellido}}
                          </p>
                        </mat-expansion-panel>
                    </mat-accordion>
                }
            </mat-card-content>
        </mat-card>
    </div>
</div>