<div class="form">
    <div class="container">
        <mat-card class="cardContainer">
            <mat-card-title class="cardTitle">
                <img src="../../assets/LogoCompleto.png" alt="pawplan" style="width: 50%;">
            </mat-card-title>
            <mat-card-content class="cardContent">
                @for (item of menuItems; track $index) {
                    @if (item.id != 0) {
                        <button mat-flat-button class="button" [color]="item.tipo" (click)="navegar(item)">
                            <div style="display: flex; align-items: center;">
                                <span style="margin-right: 15px;">{{item.nombre}}</span>
                                <mat-icon><img [src]="item.icono"></mat-icon>
                            </div>
                        </button>
                    }
                }
            </mat-card-content>
        </mat-card>
    </div>
</div>

